{% extends 'base.html' %}
{% load static %}

{% block catalogo %} <div class="detalle-container">
        <div class="detalle-card">
            <div class="detalle-card-img">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                {% else %}
                    <img src="{% static 'img/fresa.png' %}" alt="Sin imagen">
                {% endif %}
            </div>

            <div class="detalle-card-content">
                <h1 class="detalle-card-title">{{ producto.nombre }}</h1>
                <p class="detalle-card-description">{{ producto.descripcion }}</p>
                <div class="detalle-card-price"><span>₡</span> {{ producto.precio }}</div>
                
                <button class="btn" style="width: 50%; margin: 20px 0 0 0;"><a class="card-person" href="{% url 'catalogo' %}" style="text-decoration: none; color: inherit; display: block; width: 100%;">Añadir al carrito</a></button>
                <button class="btn" style="width: 50%; margin: 20px 0 0 0;"><a class="card-person" href="{% url 'catalogo' %}" style="text-decoration: none; color: inherit; display: block; width: 100%;">Regresar</a></button>
            </div>
        </div>
    </div>
{% endblock %}