<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UFT-8">
<!--
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link href="/static/css/sass.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
-->
<title>Strawberry Daki</title>
</head>

    <body style="text-align: center;">  <!-- style da estilos -->

    <!-- Titulos -->
    <h1>
        <img src="/static/img/fresa.png" alt="fresas" width="50" height="50">Bienvenido
        <img src="/static/img/fresa.png" alt="fresas" width="50" height="50"></h1>
    <h2>Compras en linea</h2>
    <ul> 
    <h1>De momento el sitio web se encuentra en aprendizaje y desarrollo.</h1>
    <p>Pronto aplicaremos muchas mas funciones.</p>
    <footer>
        <p>En creacion</p>
        <a href="{% url 'index' %}" class="btn btn-primary text-decoration-none">Bienvenido</a>
        <a href="{% url 'tienda' %}" class="btn btn-primary text-decoration-none">Tienda</a>
        <a href="{% url 'contacto' %}" class="btn btn-primary text-decoration-none">Contacto</a>
        <a href="{% url 'pedidos' %}" class="btn btn-primary text-decoration-none">Pedidos</a>
    </footer>
    
    </body>
</html>