<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UFT-8">
<link href="/static/css/style.css" rel="stylesheet">
<title>Strawberry Daki</title>
</head>
    <body style="text-align: center;">  <!-- style da estilos -->
    <div class="bg-blur"></div>
    <!-- titulos -->
<nav class="navbar">
    <div class="logo">Strawberry Daki<span>.</span></div>
    <input type="checkbox" id="check">
        <label for="check" class="menu-btn">
            <span></span>
        </label>
    <ul class="nav-links">
        <form class="search-container" role="search" action="{% url 'buscar' %}" method="get">
            <input type="search" name="q" placeholder="Buscador.." value="{{request.GET.q|default:'' }}" class="search-input">
            <button type="submit" class="search-btn">Buscar</button>
        </form>
        <li><a href="/">Bienvenido</a></li>
        <li><a href="/catalogo/">Tienda</a></li>
        <li><a href="/contacto/">Contacto</a></li>
        <li><a href="#" class="btn-cta">Proximamente</a></li>
    </ul>
</nav>
    <div class="container">
        {% block catalogo %}
        {% endblock %}
    </div>
    </body>
</html>